# Node Server Configuration
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/voicecare
JWT_SECRET=voicecare_secret_key

# Flask ML Backend Service URLs
FLASK_ML=http://127.0.0.1:5001
FLASK_REPORT=http://127.0.0.1:5001
